html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

body {
    min-width: 1100px;
    font: 12px arial;
    position: relative;
}

.moblie {
    display: none;
}

div {
    display: block;
}

.imglogo {
    width: 270px;
    height: 129px;

}

#wrapper {
    min-width: 810px;
    height: 100%;
    min-height: 700px;
    position: relative;
}

#head {

    position: relative;
    padding-bottom: 20px;
    height: 100%;
    text-align: center;
}

#head .head_wrapper {
    height: 100%;
}

.s_form {
    position: relative;
    top: 28.2%; /*   无卡片时，38.2*/

}

.s_form_wrapper {
    position: relative;
    text-align: center;
    top: -191px;
    width: 100%;

}

#u1 {
    z-index: 2;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 2px 0 0;
    line-height: 34px;
    font-size: 13px;
    text-align: right;
    width: 504px;
}

#ftCon {
    height: 24px;
    position: absolute;
    bottom: 44px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#u1 a.mnav, #u1 a.mnav:visited {
    display: inline-block;
    font-weight: bold;
    float: left;
    color: #333;
    line-height: 34px;
    font-size: 13px;
    margin-left: 20px;
    overflow: hidden;
    text-decoration: underline;
}

#u1 a.mnav:hover {
    color: #2d78f4;
}

.lw, .lw:link, .lw:visited {
    float: left;
    color: #333;
    line-height: 34px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}

.lw:hover {
    color: #2d78f4;
    display: block;
}

.bri {

    border: 1px solid white;
    display: block;
    background: transparent;

}

.s_ipt {
    /*box-sizing: content-box;*/
    /*-webkit-box-sizing:content-box;*/

    padding-left: 10px;
    width: 526px;
    font: 16px/18px arial;
    line-height: 22px;
    margin: 6px 0 0 7px;
    height: 36px;
    background: transparent;
    border: 1px solid #cccccc;
    border-right: 0;
+ margin-top : 5 px;
    height: 36px \0;
    padding-top: 6px \0;
+ height : 27 px;
+ padding-left : 10 px;
+ padding-top : 6 px;
    outline: 0;
}

.s_btn {
    position: absolute;
    top: 157px;
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    background: #3385FF none repeat scroll 0 0;
}

.s_btn:hover {
    background: #2d78f4;
    cursor: pointer;
}

.s_ipt_wr {
    /*border: 1px solid #b6b6b6;*/
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    border-right-width: 0;
    /*border-color: #b8b8b8 transparent #ccc #b8b8b8;*/
    overflow: hidden
}

.s_ipt:hover {
    box-shadow: 0 0 1px #666666 inset;
}

.quickdelete-wrap {
    position: relative
}

.pro {
    margin-top: 3px;
    position: absolute;
    right: 10px;
    width: 58px;
    height: 24px;
    float: left;
    color: #FFF !important;
    border: 0;
    background: #38F none repeat scroll 0 0;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    /*border-bottom: 0 solid #38F;*/
    margin-left: 20px;
    margin-right: 2px;
}

.s_ipt:focus {
    border: 1px solid #2d78f4;
}

.txt {
    margin-top: 22px;
    width: 100%;
    height: 36px;
}

#ftConw a:link, a:visited {
    color: blue;
    margin-left: 20px;
}

#cp, #cp a:link, #cp a:visited {
    color: #666;
    margin: 2px;
}

#wrapper_wrapper {
    padding: 0;
    position: absolute;
    width: 69px;
    height: 104px;
    top: 34px;
    right: 73px;
    border: 1px solid #cccccc;
    float: right;
    z-index: 200;
    display: block;
    box-shadow: #cccccc 1px 1px 1px 1px;
}

#wrapper_wrapper ul {
    list-style: none;
    position: relative;
    left: -41px;
    top: -21px;
}

#wrapper_wrapper ul li {
    width: 68px;
    line-height: 26px;
    text-align: left;
}

.huise a {
    margin-top: 0;
    width: 68px;
    height: 26px;
    padding: 5px 10px;
}

.huise a:link, .huise a:visited {

    color: #666666;
    text-decoration: none;
}

.huise a:hover {
    color: #ffffff;
    background-color: #2d78f4;
    text-decoration: none;
}

.sanjiao {
    position: relative;
    top: -20px;
    left: 23px;
    z-index: 0;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #cccccc transparent transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.sanjiao1 {
    position: relative;
    top: -12px;
    left: -10px;
    z-index: 0;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFAFA transparent transparent;
    /*transform: rotate(180deg);*/
    /*-webkit-transform: rotate(180deg);*/
    /*-moz-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/

}

.c-icon-icrlogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_45de3f02.png) no-repeat;
    _background-image: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_15f748ea.gif);
    background-position: -600px -96px;
    position: relative;
    top: 3px
}

.geng_pro {
    display: block;
    width: 60px;
    height: 23px;
    position: absolute;
    float: right;
    right: 10px;
    background: #38f;
    color: white !important;
    text-decoration: none;
    text-align: center;
}

.settinginfo {
    display: block;
    z-index: 100;
}

.mynav {
    height: 34px;
    border-bottom: 1px solid #cccccc;
}

#logininfo {
    display: block;
    position: absolute;
    right: 150px;
    top: 14px;
    width: 75px;
    z-index: 200;

}

#logininfo .sanjiao {
    top: 1px;
}

#logininfo ul {
    top: -1px;
    width: 75px;
    padding: 0;
    list-style-type: none;
    border: 1px solid #cccccc;
    box-shadow: #cccccc 1px 1px 1px 1px;
}

#logininfo ul li {
    top: -1px;
    width: 75px;
    line-height: 26px;
}

#logininfo ul li a {
    width: 75px;
}

#morepro {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    min-height: 800px;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
    z-index: 400;
}

#morepro span {
    height: 36px;
    width: 36px;
    display: block;
    margin: 10px auto 5px;
    cursor: pointer;
}

#morepro a:nth-last-child(1) {
    padding-top: 10px;
}

#morepro .span1 {
    margin: 0 auto;
    width: 85px;
    height: 34px;
    line-height: 26px;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
}

#morepro .morep a {
    width: 85px;
    line-height: 34px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    color: #666666;
}

.bdbriimgitem_1 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll 0 0;
}

.morep_1 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -36px 0;
}

.morep_2 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -75px 0;
}

.morep_3 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -112px 0;
}

.morep_4 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -147px 0;
}

.morep_5 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -182px 0;
}

.morep_6 {
    background: transparent url("../images/bdbri_icons_2e35e84b.png") no-repeat scroll -222px 0;
}

.mynav_middle_info {
    position: absolute;
    display: block;
    list-style-type: none;
    top: -2px;
    left: 222px;
}

.mynav_middle_info li {
    float: left;

}

.mynav_left {
    line-height: 34px;
}

.s_card {
    top: -130px;
    position: relative;
    height: 320px;
}

.s_card_left {
    width: 80px;
    height: 318px;
    background-color: #e9eaea;
    float: left;
}

.s_card_box {
    position: relative;
    width: 911px;
    height: 320px;
    margin-left: 50%;
    left: -455px;
}

#box_xinwen {

}

.s_card_main {

    float: left;
    width: 811px;
    height: 320px;
    margin-left: 20px;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.lunbo {
    float: left;
    width: 425px;
    height: 318px;
    overflow: hidden;
}

.s_card_main_content_box {
    margin-left: 411px;
    width: 400px;
    height: 318px;
}

.s_card_main_content_title {
    left: 200px;
    width: 400px;
    height: 50px;
}

.s_card_main_content {
    width: 400px;
    height: 268px;
}

.nav_item {
    height: 278px;
    padding-left: 0;
    list-style-type: none;
}

.nav_item li {
    width: 80px;
    line-height: 35px;
    display: block;
    /*background: url("../img/navbg.png");*/

}

.nav_item li a {
    text-decoration: none;
    font-size: 15px;
    color: #969494;
    line-height: 35px;
    display: block;
}

.nav_item .active {
    color: #ffffff;
    background: url("../images/navbg.png");

}

.nav_item .active a {
    font-weight: bold;
    color: #ffffff;
    cursor: default;
}

.config {
    padding-top: 5px;
    display: block;
    width: 80px;
    height: 30px;
    position: relative;

}

.config span {
    position: relative;
    left: 30px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/config.png") no-repeat;
    background-position: -20px 0;
}

.config:hover {
    background-color: #a5a2ad;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.config span:hover {
    background-position: 0 0;
}

.lunbotop {
    position: relative;
    height: 260px;
    width: 3402px;
}

.lunbobottom {
    position: relative;
    width: 425px;
    height: 58px;
    background: #000000;
}

.lunbotop img {
    position: relative;
    float: left;
}

.lunbobottombar {
    width: 680px;
    height: 58px;
    background: #000000;
}

.lunbobottombar img {
    float: left;
    margin: 7px;
    width: 70px;
    height: 42px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.lunbobottombar img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.lunbobottombar .lunbo_active {
    border: 1px solid blue;
    opacity: 1;
    filter: alpha(opacity=100);
}
.pre-img{

}

.next-img{
    position: relative;
    margin-top: 0;
    margin-left: 380px;
    transform:rotate(180deg);
}

.jiantou{

    display: block;
    cursor: pointer;
    top:0;
    position: absolute;
    width: 40px;
    height: 227px;
    z-index: 2;
}



.arrow{
    margin-left: 10px;
    position: relative;
    top: 95px;
    width: 19px;
    height: 36px;
    background: url("../images/news_all_b6796497.png") ;
    background-position: 1095px 1046px;
}
.arrow:hover{
    background-position: 1010px 1050px;
}

.newsinfo{
   width: 425px ;
    height: 30px;
    position: absolute;
    top: 232px;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.newsinfo a{
    margin-top: 3px;
    display: none;
    left: 10px;
    position: absolute;
    float: left;
    color:white;
    font-size: 16px;
}
.newsinfo .active{
    display: block;
}

.s_card_main_content_title a span{
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    background: url("../images/news_all_b6796497.png");
    background-position: 125px 15px;
}

.s_card_main_content_title .titlebox a{
    position: relative;
    float: left;
    left: 30px;
    top: 20px;
    height: 35px;
    border-bottom: 2px solid #38f;
    font-size: 14px;
    color: #000000;
}

.titlebox{
    height: 51px;
}

.change:link,.change:visited{
    position: relative;
    top: -30px;
    left: 120px;
    padding-left: 20px;
    color: #000000;
    background: url("../images/news_all_b6796497.png");
    background-position:-15px 60px;
    width: 40px;
    height: 35px;
}

.change:hover{
    color: #38f;;
    background: url("../images/news_all_b6796497.png");
    background-position:64px 106px
}

.hot-content{
    width: 320px;
    height: 260px;
    border-top: 1px solid #e9e9e9;
    margin: 4px auto;
}

.hot-content li{
     text-align: left;
     position: relative;
     font-size: 14px;
     margin-top: 13px;
     text-indent:-20px
 }

.hot-content li a{
   color: #000000;
}
.hot-content li a:visited{
    color: #666666;
}


.music_left{
    float: left;
    width: 167px;
    height: 316px;
}

.music_middle{
    float: left;
    width: 406px;
    height: 316px;
    background: blue;
}
.music_right{
    float: left;
    width: 236px;
    height: 316px;
}

.hot-music ul{
  list-style-type: none;
}
.hot-music li a:hover{
    color: #38f;
    cursor: pointer;
}
.hot-music li a {
    color: #000000;
}
.hot-music li{
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 13px;
    text-indent:-20px
}