body{
    margin: 0;
    padding: 0;
    min-width: 350px;
    overflow-x: hidden;
    font-family: arial;
}
.header_waper {
    border-bottom:1px solid #e5e5e5;
    height: 44px;
    background-image: url("/images/bg-news-logo_344ce44.png");
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 77px auto;
    -webkit-background-size: 77px auto;
    background-color: #3e98f0;
}

.header_item{
    width: 34px;
    height: 44px;
    margin: 0 10px;

}

.news_nav{
    background-color: #3e98f0;
overflow: hidden;
}


.news_nav a{
    color: #ffffff;
}
.news_nav a:hover,a:visited{
    color: #ffffff;
}

.nav_item{
    margin-top: 10px;
    display: block;
}
.nav_left{
    left: -50px;
    margin-top: 10px;
position: relative;
    float: left;
}
.nav_left_item{
    list-style-type: none;
    display: inline-block;
}

.nav_left_item li{
    display: inline-block;
    margin-right: 5px;
}
.nav_right{
    margin-top: 10px;
    float: right;
}

#nav_gengduo{
    display: none;
}

/*.ul{*/

/*}*/
.nav_bottom{

}
.nav_top{
    border-bottom:1px solid #e5e5e5;
    padding-bottom: 10px;
}

.baidunews_button{
    position: relative;
    float: left;
    background: url("/images/bg-new-toolbar_6e9bc53.png");
 background-position:0 0;
    background-size: 47px auto;
    -webkit-background-size: 47px auto;
}

.baidunews_usrinfo{
    float: left;
    background: url("/images/bg-new-toolbar_6e9bc53.png");
    background-position: 0 38px;
    background-size: 47px auto;
    -webkit-background-size: 47px auto;
}

.baidunews_search{
    float: right;
    background: url("/images/bg-new-toolbar_6e9bc53.png");
    background-position: 0px 393px;
    background-size: 47px auto;
    -webkit-background-size: 47px auto;
}
.baidunews_add{
    float: right;
    background: url("/images/bg-new-toolbar_6e9bc53.png");
    background-position: 0px 457px;
    background-size: 47px auto;
    -webkit-background-size: 47px auto;
}

.lunbo{
    margin-top: 10px;
    height: 190px;
}
.lunbo-bar{
position: relative;
    float: left;
    height: 187px;
}

.lunbo-bar img{
    position: relative;
    float: left;
    left: -15px;
    width: 100%;
    height: 100%;
}

.img-item {
    position: absolute;
    top:411px;
    height: 3px;
    left: 2px;
    width: 33%;
}


.lunbo .active{
    background-color: #269abc;
}

.lunbo-box{
    height: 190px;
}
#c2{
    margin-left: 33.3%;
}
#c3{
    margin-left: 66.7%;
}

.hotdot{
    position: absolute;
    float: left;
    height: 25px;
    overflow: hidden;
    width: 100%;
}

.hotdot p{
    height: 25px;
    margin: 0;
}
.hotdot_bar{
    left: 45px;
    position: relative;
    top: -20px;
}

.lunbo a{
    float: left;
}
.lunbowenzi-bar{
    position: relative;
    height: 25px;
    top: -25px;
    left: -15px;
}
.lunbowenzi{
    float: left;
    height: 25px;
    width: 33.3%;
    background-color: rgba(0,0,0,0.2);
    /*left:-15px;*/
    margin: 0;
    padding: 0;
}
.lunbowenzi a{
    float: left;
    color: #ffffff;
}

.hotdot span{
    color: #ffffff;
    background-color: red;
    line-height: 25px;
    font-size: 14px;
}
.imgbox{
    position: absolute;
    width: 97px;
    height: 67px;
}
.news_content_box{
    /*margin-top: 30px;*/
    position: relative;
    height: 70px;
    padding: 0;
    top: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.news_content_innerbox{
    position: relative;
    float: left;
    margin-left: 100px;
    top: -10px;
}

.timesta{
	margin-top:15px;
    font-size: 82.5%;
    color: #c0c0c0;
}

.zhiding{
    float: right;
    background-color: red;
    color: #ffffff;
    font-size:100% ;
}
.news_content_innerbox_content{
    height: 50px;
    overflow: hidden;
}
.news_content_bottom{
    height: 17px;
}
.news_content_innerbox_content p{
    position: relative;
    top:-4px;
    font-size: 82.5%;
    color: #c0c0c0;
}

.bottom-btn{
    top: 44px;
    position: relative;
    color: #ffffff;
    background-color:#3e98f0 ;
    height: 44px;
    line-height: 44px;
    display: block;
}
.bottom-btn:hover{
 text-decoration: none;
    color: #ffffff;
}
